

body{
	padding: 20px;
	margin: 30px;
	background-color:#faebd7;
	
}

.menu{
	
	margin: 60px auto;
	list-style: none;
	text-align: center;
	font-family: Courier, Arial;
	font-style: bold;
	font-size: 35px;
	color: rgb(132, 204, 200);
}
.menu-item{
	display: inline;
	padding-right: 40px;
	font-family: Courier, Arial;
	font-style: bold;
	color: rgb(132, 204, 200);

}
h1{
	color: rgb(132, 204, 200);
	font-size: 55px;
	font-family: Courier, Arial;
	text-align: center;
}
.my-Photo{
	align: center;
	width: 20%;
	float: left;
}
h2{  
	color: rgb(132, 204, 200);
	font-size: 40px;
	font-family: Courier, Arial;
	font-style: bold;
	text-align: center;
}
p{ 
	text-align: center;
	color: rgb(132, 204, 200);
	font-family: Courier, Arial;
	font-style: bold;
}
a{
	font: Courier, Arial;
	text-decoration: none;
	color:  rgb(132, 204, 200);
}
li{
	color:  rgb(132, 204, 200);
}
section{
	background-color: F0FFF0;
	width: 70%;
	margin: 30px auto;
	padding-bottom: 20px;
	padding-top: 20px;
}
#experience{
	color rgbrgb(132, 204, 200));
	font: Courier, Arial;
	font-size: 30px;
}
#education{
	color: rgbrgb(132, 204, 200);
	font: Courier, Arial;
	font-size: 30px;
}
#contact{
	color: rgb(132, 204, 200);
	font: Courier, Arial;
	font-size: 30px;

}
